<h1>Check out these kewwwll linkkss</h1>

<% if current_user %>
  <%= form_for (Link.new) do |f| %>
    <%= f.label :url %>
    <%= f.text_field :url %>
    <%= f.label :title %>
    <%= f.text_field :title %>
    <%= f.submit "Submit" %>
  <% end %> <br />
<% end %>


Your special links: <br />
<% @links.each do |link| %>

  <% if link.read %>
    <% button_class = "unread-link" %>
    <% message = "Mark as Unread" %>
    <% color = "color:blue" %>
  <% else %>
    <% button_class = "read-link" %>
    <% message = "Mark as Read" %>
    <% color = "color:red" %>
  <% end %>
  <p><%= link.title %>:</p> <br />
  <p id="url-<%= link.id %>" style="<%= color %>"><%= link.url %></p> <br />
  <%= link.read %>
  <button id='read-<%= link.id %>' class='<%= button_class %>'><%= message %></button>
<% end %> <br />

All Links:

<div class="all-links">

</div>
