
<h2>Check out these kewwwll linkkss</h2>

<div id="search-field">
  <form>
    <h4>Search Links</h4>
    <input type='text' id='filter' name='filter-input'>
  </form> <br>
</div>

<% if current_user %>
  <h4>Create new link:</h4>
  <%= form_for (Link.new) do |f| %>
    <%= f.label :url %>
    <%= f.text_field :url %>
    <%= f.label :title %>
    <%= f.text_field :title %>
    <%= f.submit "Submit" %>
  <% end %> <br />
<% end %>

<h4>Links</h4>

<div class="all-links">

</div>
